### Laravel ###
/vendor
/node_modules
/.idea
*.env
/.vagrant

### Project ###
Envoy.blade.php
/public/uploads/images
/public/uploads/touch
/public/uploads/story
*.org
/tests/*Test.php
/database/seeds/UserTableSeeder.php
/public/packages/lalalili/lalalili.tmp
_ide_helper.php